body{
    font-family: 'Open Sans', sans-serif;
}
/*Navigation menu*/
.nav li{
    display: inline;
}
.nav a{
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}