body{
    font-family: 'Open Sans', sans-serif;
}

/*Jumbotron 	#https://www.flickr.com/photos/wwworks/5063710551/ */	
.jumbotron{
	
	background: url('./pics/jumbotron.png');
	
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: left center;
   background-size: cover;
   background-clip: border-box;
   
   margin-top: 10px;
   margin-left: -15px;
   margin-right: -15px;
}

.imagem .container-fluid{
	margin: 0px;	
}

.imagem .container-fluid p{
	margin-top: -30px;
	text-align: right;
}

.jumbotron h1{
	display: block;
	background-color: #ffffff;
	opacity: 0.6;
	text-align: center;
}

.jumbotron h2{
	display: block;
	background-color: #ffffff;
	opacity: 0.6;
	text-align: center;
}

.navbar {
	background-color: transparent;
	margin: 0px;
}

.presentation .thumbnail{
	width: 50%;
}

.panel {
	background-color: #f5f5f5;
}
