body{
    font-family: 'Open Sans', sans-serif;
}

/*Jumbotron */	
.jumbotron{
    font-weight: 400;
    background-color: #5a5a5a;
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
}
	
.jumbotron .container{
    position: relative;
}

.jumbotron h3{
    margin-bottom: 0px;
}

.jumbotron h2{
    margin-top: 0px;
}

.jumbotron h1{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.jumbotron h4{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.jumbotron p{
    padding-top: 0px;
    margin-top: 0px;
}


.panel-footer{
    background-color: none;	
}